<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>开始使用layui</title>
  <link rel="stylesheet" href="./layui/css/layui.css">
  <link rel="stylesheet" href="./css/app.css">
</head>
<body>
  <div class="layui-row">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
      <div class="img-inner">
      	<div class="item">
      		<img src="./images/banner.jpg">
      	</div>
      </div>
    </div>
  </div>
<div class="layui-container">
	<div class="layui-row am-margin-top">
		<div class="layui-col-xs12 layui-col-sm10 layui-col-md10 layui-col-md-offset1 layui-col-sm-offset1">
			<div id="editor" >  	 
	    	</div>
		</div>
	</div>
	<div class="layui-row am-margin-top">
		<div class="layui-col-xs12 layui-col-sm10 layui-col-md10 layui-col-md-offset1 layui-col-sm-offset1">
		<button class="layui-btn  layui-btn-lg  layui-btn-primary" id="send">
		  发&nbsp&nbsp送
		</button>
		</div>
	</div>
</div>
<footer>

</footer>
</body>
<script src="./layui/layui.js"></script>
<script src="./js/app.js"></script>
<script type="text/javascript" src="./js/wangEditor.min.js"></script>
<script type="text/javascript" src="./js/myEditor.js"></script>
</html>
      